@import url(../Css/clash-display.css);

/* properties */

:root{
    --c-black: #000000;
    --c-dark: #154006;
    --c-brand: #227504;
    --c-brand-light: #3d9e1a;
    --c-brand-rgb: 0,0,0;
    --c-body: #0da326;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}


body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-brand);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}
/* Image Zoom */

.image-zoom{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;

}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* navbar */

.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-black);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* hero */

#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.447), rgba(var(--c-brand-rgb), 0.447)), url(/assets/images/BodyBackground1.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* About */

.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-dark);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

i {
    color: var(--c-brand);
}

.iconbox {
    width: 70px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(82, 221, 32, 0.141);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* Tourpackage */
.tourpackage {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.tourpackage::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(82, 221, 32, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.tourpackage:hover::after {
    width: 100%;
    height: 100%;
    background: rgba(82, 221, 32, 0.3);
    z-index: -1;
}

.tourpackage img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.tourpackage:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .section-title h1 {
        font-size: 2rem;
    }

    .tourpackage {
        padding: 15px;
    }
}

.tourpackage:hover h5 {
    color: black;
    transition: var(--transition);
}

.tourpackage:hover p{
    color: rgb(45, 45, 45);
    transition: var(--transition);
}

.tourpackage:hover .iconbox{
    background-color: rgba(45,45,45, 0.2);
    transition: var(--transition);
}

.tourpackage .btn {
    font-weight: 4000;
    font-size: 14px;
    text-transform: none;
    border-radius: 15px;
    padding: 8px 16px;
    box-shadow: var(--box-shadow);
}

.tourpackage:hover .btn-brand {
    background-color: grey;
    border-color: grey;
    color: white;
}

.tourpackage .btn-brand:hover {
    background-color: rgb(49, 49, 49);
    border-color: rgb(49, 49, 49);
    color: white;
}

/* counter */

#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.2), rgba(var(--c-brand-rgb), 0.2)), url(/assets/images/IMG_3695.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    margin-top: 60px;
}

#counter .container {
    padding-top: 60px;
    margin-top: 60px;
}

#counter .iconbox,i {
    width: 70px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.232);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

#counter h4 {
    font-weight: 550;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
}

#counter h1 {
    font-weight: 550;
    color: var(--c-brand);
    text-shadow: 
    -1px -2px 0 rgba(255, 255, 255, 0.4),  /* Shadow to the top-left */
    1px -1px 0 rgba(255, 255, 255, 0.4),   /* Shadow to the top-right */
    -1px 1px 0 rgba(255, 255, 255, 0.4),   /* Shadow to the bottom-left */
    1px 1px 0 rgba(255, 255, 255, 0.4);
}

.search-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
    margin-bottom: -120px;
}

.search-container {
    background-color: #e9edf4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);;
    text-align: center;
}

.search-label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #346ba5;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    outline: none;
}

.search-input::placeholder {
    color: #bbb;
}

.search-box .btn {
    font-weight: 4000;
    font-size: 14px;
    text-transform: none;
    border-radius: 15px;
    padding: 8px 16px;
    box-shadow: var(--box-shadow);
}

.search-box:hover .btn-brand {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

.search-box .btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* Photo Gallery*/

.photogallery-item .iconbox{
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.photogallery-item i {
    color: white;
}

.photogallery-item:hover .iconbox {
    background-color: rgb(34, 117, 4,0.8);
    opacity: 1;
    top: 50%;
}

/* Newsletter */

#newsletter {
    position: relative;
    z-index: 2;
}

#newsletter::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.2), rgba(var(--c-brand-rgb), 0.2)), url(/assets/images/IMG_5640.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#newsletter .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

#newsletter .form-control {
    border-radius: 0;
}

#newsletter .form-control:focus {
    box-shadow: var(--c-brand-light);
    border-color: var(--c-brand);
}

/* Footer */
footer {
    padding-top: 70px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer a,
footer p {
    color: rgba(255, 255, 255, 0.382);
}

footer h5 {
    color: white;
}
footer a:hover{
    color: rgba(255, 255, 255);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons, #icon{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--c-brand-light);
    border-color: rgba(255, 255, 255, 0.158);
    border-radius: 100px;
    font-size: 20px;
}

#icon:hover{
    background-color: var(--c-brand-light);
    color: white;
    transition: var(--transition);
}